.control_overlay button.circular {
  padding: 3px;
}

#receiving_text_view {
  font-size: 22pt;
  font-weight: bold;
}

#volume>scale trough highlight {
  min-height: 12px;
  min-width: 12px;
}

#volume>scale trough slider {
  opacity: 0;
}

#receiving_text_view.hidden-text {
  filter: blur(8px);
}

#receiving_text_view.hidden-text selection {
  background-color: transparent;
  color: transparent;
}
